@import 'fonts.css';

* {
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'PD Sans Regular';
}

p {
   margin: 0;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none;
   color: inherit;
}

img {
   width: 100%;
}
body{
   scroll-behavior: smooth;
}
ul{
   margin: 0;
}
/* =======================================HEADER start========================== */

.header {
   height: 603px;
}

.header__nav {
   background: #1e2020;
   padding: 23px 0;
}

.logo {
   display: inline-block;
   position: relative;
   color: white;
   font-size: 26px;
   padding: 7px 18px;
   text-transform: uppercase;
   z-index: 1;
}
.logo::after{
   content: '';
   z-index: -1;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: #1e2020;
}
.logo::before {
   content: '';
   z-index: -1;
   position: absolute;
   top: -1px;
   bottom: -1px;
   right: -1px;
   left: -1px;
   background: linear-gradient(133deg, #fff,#ffcb02);
}
.logo:hover{
   color: white;
}
.logo span {
   color: #ffcb02;
}
.header__link{
   font-size: 20px;
   color: white;
   margin: 0 27px;
   text-transform: uppercase;
}
.header__link:hover{
   color: #ffcb02;
}
.header__menu li:nth-child(3) .header__link{
   margin-right: 0;
}
.header__content{
   background: url(../images/header__bg.jpg)no-repeat center /cover;
}
.header__title{
   font-size: 60px;
   color: white;
   margin-bottom: 41px;
   text-transform: uppercase;
}
.header__description{
   font-size: 22px;
   color: white;
   line-height: 27px;
}

/* =======================================HEADER end========================== */
/* =======================================MAIN start========================== */

.history__text{
   padding: 55px 0;
   background: #282929;
}
.history__title{
   font-size: 28px;
   color: #ffcb02;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 20px;
   line-height: 27px;
}
.history__title::before{
   display: block;
   content: '';
   width: 52px;
   height: 1px;
   background: white;
   margin-left: auto;
   margin-bottom: 8px;
}
.history__title::after{
   display: block;
   content: '';
   width: 52px;
   height: 1px;
   background: white;
   margin-right: auto;
   margin-top: 8px;
}
.history__description{
   color: white;
   line-height: 24px;
   font-family: 'Montserrat Regular';
   font-size: 18px;
}
.history__carousel{
   background: #1f2020;
   padding: 15px 0;
}
.carousel-image{
   border-radius: 7px;
   width: 100%;
   /* height: 100%; */
}
.carousel-text{
   border-radius: 7px;
   background: #282929;
   padding: 15px;
   /* margin-left: 30px; */
}
.carousel__title{
   font-family: 'Montserrat Bold';
   font-size: 24px;
   color: #ffcb02;
   margin-bottom: 10px;
   text-transform: uppercase;
}
.carousel__title span{
   color: white;
}
.carousel__description{
   font-family: 'Montserrat Regular';
   font-size: 18px;
   line-height: 24px;
   color: #fff;
}
.carousel-control-prev i,
.carousel-control-next i{
   color: #ffcb02;
   font-size: 30px;
}
.carousel-control-prev i::after,
.carousel-control-next i::after{
   color: white;
}

.works{
   padding-top: 60px; 
   background: #282929;
}
.works__title{
   font-size: 28px;
   color: #ffcb02;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 20px;
   line-height: 27px;
}
.works__title::before{
   display: block;
   content: '';
   width: 52px;
   height: 1px;
   background: white;
   margin-left: auto;
   margin-bottom: 8px;
}
.works__title::after{
   display: block;
   content: '';
   width: 52px;
   height: 1px;
   background: white;
   margin-right: auto;
   margin-top: 8px;
}
.works__description{
   color: white;
   line-height: 24px;
   font-family: 'Montserrat Regular';
   font-size: 18px;
}
button.navbar-toggler{
   color: white;
   background: #fff;
}
.nav-pills .nav-link{
   border-radius: 19px;
   text-transform: uppercase;
   line-height: 24px;
   padding: 7px 29px;
   color: #1f2020;
   background: white;
   margin-right: 42px;
   margin-bottom: 20px;
}
.nav-pills{
   justify-content: space-between;
   width: 100%;
}
.nav-pills .nav-link.active{
   background: #1f2020;
   color: white;
}
.nav-pills .nav-item:nth-child(3) a,
.nav-pills .nav-item:nth-child(6) a{
   margin-right: 0 !important;
}
.works__accordion{
   margin-top: 60px;
}
#pills-nike{
   /* max-height: 400px; */
}
#pills-nike img{
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}
.tab-content-text{
   background: #1f2020;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   align-items: flex-start;
   padding: 23px 12px 23px 23px;
}
.tab-content-text-top h2{
   color: #ffcb02;
   text-transform: capitalize;
   font-size: 24px;
   line-height: 27px;
}
.tab-content-text-top p{
   color: white;
   font-size: 16px;
   line-height: 24px;
   font-family: 'Montserrat Regular';
}
.tab-content-text-top h2 span{
   text-transform: uppercase;
}
.tab-content-text a{
   display: inline-block;
   padding: 15px 30px;
   border-radius: 22px;
   color: white;
   background: #ffcb02;
   font-family: 'Montserrat Bold';
   text-transform: uppercase;
}
.works{
   margin-bottom: 60px;
}
main{
   background: #282929;
   padding-bottom: 30px;
}
.capabilities__title{
   font-size: 28px;
   color: #ffcb02;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 30px;
   line-height: 27px;
}
.capabilities__title::before{
   display: block;
   content: '';
   width: 52px;
   height: 1px;
   background: white;
   margin-left: auto;
   margin-bottom: 8px;
}
.capabilities__title::after{
   display: block;
   content: '';
   width: 52px;
   height: 1px;
   background: white;
   margin-right: auto;
   margin-top: 8px;
}
.capabilities .card-header{
   background: #d3a90b;
   padding: 15px;
}
.card-header button{
   color: #282929;
   font-family: 'Montserrat Bold';
   text-transform: uppercase;
   font-size: 20px;  
   display: flex;
   width: 100%;
   align-items: center;
}.card-header button i{
   font-size: 28px;
   margin-right: 10px;
}
.card{
   border: 1px solid #d3a90b !important;
   margin-bottom: 15px;
}
.accordion .card:last-child{
   margin-bottom: 0;
}
.capabilities .card-body{
   background: #1f2020;
   padding: 20px 15px;
   color: white;
   font-family: 'Montserrat Regulat';
   font-size: 18px;
   line-height: 24px;
}
/* =======================================MAIN end========================== */
footer{
   padding: 20px 0;
   background: #1f2020;
}
footer .header__menu{
   margin: 45px 0;
}
.contact a:nth-child(1){
   margin-right: 30px;
}
.contact a{
   font-size: 20px;
   color: white;
}
@media(max-width:768px){
   .header__title{
      font-size: 45px;
   }
   .header__description{
      font-size: 16px;
   }
}